{% extends "blog/base.html" %}

{% block title %}Set New Password{% endblock %}

{% block content %}
<div class="form-container">
  <form method="post" class="card">
    {% csrf_token %}
    <h2>Password Reset Confirm</h2>

    {% for field in form %}
      <div class="form-group">
        {{ field.label_tag }}
        {{ field }}
        
        {% if field.errors %}
          <div class="form-error">
            <small>{{ field.errors|striptags }}</small>
          </div>
        {% endif %}
      </div>
    {% endfor %}

    <div>
      <button type="submit" class="btn btn-primary">Reset Password</button>
    </div>
  </form>
</div>
{% endblock content %}