{% extends 'blog/base.html' %}

{% block title %}All Posts{% endblock %}

{% block content %}
    <h2>All Blog Posts</h2>

    {% if posts %}
        <ul>
            {% for post in posts %}
                <li>
                    <h3><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></h3>
                    <p>{{ post.body|truncatewords:30 }}</p>
                    <p>Written by {{ post.author.username }} on {{ post.created_at }}</p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No posts available.</p>
    {% endif %}
{% endblock %}