{% extends 'blog/base.html' %}

{% block title %}All Posts{% endblock %}

{% block content %}
  <div class="all-posts-container">
    <h2>All Blog Posts</h2>

    {% if posts %}
      <ul class="posts-list">
        {% for post in posts %}
          <li class="post-item">
            <h3><a href="{% url 'post_detail' post.pk %}" class="post-title">{{ post.title }}</a></h3>
            <p class="post-excerpt">{{ post.body|truncatewords:30 }}</p>
            <p class="post-meta">Written by {{ post.author.username|capfirst }} on {{ post.created_at }}</p>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>No posts available.</p>
    {% endif %}
  </div>
{% endblock %}